.signup-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: white;
}

.signup-container {
  width: 23rem;
  height: 31rem;
  border: 1px solid #bdbdbd;
  padding: 0rem 2rem;
  margin-bottom: 1rem;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.signup-input {
  margin-bottom: 1rem !important;
}

.signup-button {
  height: 3.5rem !important;
  font-size: large !important;
  margin-bottom: 1rem !important;
}

.login-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.signup-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

a {
  color: #1d7def;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
