.sidebar {
  min-width: 20rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  position: fixed;
  top: 4.5rem;
  width: 20rem;
  height: calc(100% - 4.5rem);
}

.user {
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-name {
  margin-top: 1rem;
  color: #303030;
}

.add-department-container {
  margin-top: 1rem;
  height: 8rem;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.add-department {
  margin: 0rem 2rem;
}

.add-department-toggle {
  background-color: #1d7def !important;
  color: white !important;
}
